* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

ul {
  margin-top: 40px;
}

nav {
  background-color: #FF9B50;
  box-shadow: 0 0 0.8em #000;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 44px;
  min-height: 44px;
  padding: 10px;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.logo-txt {
  font-size: 30px;
  font-weight: bold;
  color: #C63D2F;
}

.logo-container {
  display: flex;
  align-items: center;

  .logo-txt {
    line-height: 75px;
    padding-left: 10px;
  }
}

.nav-list {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 75px;
  right: 20px;
  background-color: rgba(255, 187, 92, 5);
  text-align: center;
  transition: all .5s;
  grid-column: span 2;

  li {
    opacity: 0;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    padding: 10px;

    a {
      color: #FFf;
      font-size: 20px;
      min-width: 44px;
      min-height: 44px;
      text-transform: uppercase;

      &.active, &:hover {
        color: #ff5722;
        transition: 0.5s;
      }
    }
  }
}

.bellybites-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  min-width: 64px;
  min-height: 64px;
  padding: 10px;
  color: #C63D2F;
  line-height: 75px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.active[type="checkbox"] {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 10px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #ff5722;
  border-radius: 5px;
  cursor: pointer;
}

.active[type="checkbox"]:checked {
  background-color: #ff5722;
}

#check {
  display: none;
  padding: 10px;
}

#check:checked ~ .nav-list {
  height: 100vh;
  width: 100%;
  padding: 10px;

  li {
    opacity: 1;
  }
}

.bellybites-btn:focus #check:checked ~ .nav-list {
  height: 0;
  li {
    opacity: 0;
  }
}

.hero {
  display: grid;
  align-items: center;
  min-height: 400px;
  width: 100%;
  text-align: center;
  background-image: url('../public/images/heros/hero-image_4.jpg');
  background-position: center;
  background-color: #FFBB5C;
  grid-template-columns: 1fr; 
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 20px;
}

.hero__title {
  margin: 20px;
  color: #C63D2F;
  font-weight: 500;
  font-size: 36px;
  border: 2px solid #ff5722;
  background-color: #FFBB5C;
  border-radius: 10px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}


main {
  width: 100%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;

  background-color: transparent;
}

.section-title {
  margin: 20px;
  text-align: center;
  color: #C63D2F;
  font-size: 20px;
}

.restaurant-img-desc {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  gap: 20px;
  padding: 10px;
}

.restaurant-img-desc p {
  font-size: 15px;
  color: black;
  padding: 10px;
}

.restaurant-img-desc h4 {
  padding: 10px;
  font-size: 18px;
}


.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.restaurant-image img {
  width: 100%;
  border-radius: 10px;
}

.headline__figure figcaption {
  text-align: center;
  color: #C63D2F;
  font-size: 13px;
  font-weight: 400;
  margin-top: 8px;
}

.headline__content {
  grid-column: 2 / 3;
}

.headline__title,
.restaurant-info h2 {
  color: #C63D2F;
  padding: 10px;
  margin: 0;
}

.headline__description,
.restaurant-info {
  margin-top: 10px;
}

.content__heading {
  font-size: 35px;
  color: #C63D2F;
}

.restaurant-info h3,
.restaurant-menu h3, 
.restaurant-reviews h3{
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.restaurant-name {
  font-size: 30px;
  color: #C63D2F;
  text-align: center;
  margin: 20px;
}

.restaurant-detail-name {
  min-height: 44px;
  min-width: 44px;
  padding: 10px;
  color: #ff5722;
}

.restaurant-detail-name:hover {
  color: #C63D2F;
}

.restaurant-info h4 {
  padding: 10px;
  font-size: 18px;
}

.headline__button {
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #C63D2F;
  transition: opacity 0.3s;
}

.headline__button:hover {
  opacity: 0.8;
}

.content-restourant {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.restaurant-image {
  position: relative;
}

.restaurant-details {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  background-color: #FF9B50;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  z-index: 1;
}

.rating {
  margin-top: 5px;
}

.input-group {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}



.list-restoran {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
}

.content-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-button {
  text-transform: uppercase;
  padding: 8px 16px;
  background-color: #C63D2F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
  padding: 10px;
}

.back-button:hover {
  opacity: 0.8;
}

.content__heading {
  font-size: 35px;
  color: #C63D2F;
}


.restaurant-card{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
}

.restaurant-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-image {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-categories ul {
  display: grid;
  font-size: 18px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.restaurant-categories ul li {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 5px;
}

.restaurant-menu-foods {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-menu-drinks {
  display: grid;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-menu-foods ul,
.restaurant-menu-drinks ul {
  list-style: none;
  padding: 10px;
  margin: 0px;
  font-size: 18px;
}

.restaurant-menu-foods h4,
.restaurant-menu-drinks h4 {
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.restaurant-reviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.restaurant-reviews ul{
  list-style: none;
  margin-top: 0px;
  font-size: 18px;
}

.restaurant-reviews li{
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
}


.form-control, .form-textarea {
  padding: 10px;
  border: 1px solid #bf1722;
  border-radius: 5px;
  font-size: 20px;
}

.label-form {
  font-weight: bold !important ;
  color: #bf1722;
  font-size: 20px;
}

.button-click {
  background-color: #C63D2F;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: black 0.3s ease;
}

.button-click:hover {
  background-color: #FFBB5C;
}

.content-search {
  display: grid;
  grid-template-columns: 1fr;
}

.content_search_header {
  display: flex;
  flex-direction: column;
}

.search-header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.list-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}


.card-menu {
  position: relative;
  width: 200px;
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.menu-img {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.menu-title {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FF9B50;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.card-menu p {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.menu-button {
  background-color: #C63D2F;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.menu-button:hover {
  background-color: #FF9B50;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C63D2F;
  
  // position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

i.fa.fa-heart-o {
  padding: 20px;
}

.no-data {
  box-shadow: 0 2px 8px 2px rgba(255, 219, 186, 0.2);
  background-color: #FFBB5C;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  margin: 20px;
}


.review-header-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.review-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.form-submit {
  background-color: #C63D2F;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 30px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.message {
  font-size: 25px;
  padding: 10px;
  color: #C63D2F;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  text-align: center;
  font-size: 24px;
  color: #bf1722;
  background-color: #FFBB5C;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
}



.review-form-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  gap: 20px;
}

.footer {
  background-color: #FF9B50;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.footer-logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.footer-links {
  min-height: 44px;
  min-width: 44px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: column;
  min-width: 44px;
  min-height: 44px;
}

.footer-links ul li {
  margin-right: 10px; 
}


.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 15px;
  min-height: 44px;
  min-width: 44px;
}

.footer-links a:hover {
  color: #ff5722;
}

.footer-social, .footer-social i {
  min-height: 44px;
  min-width: 44px;
}

.footer-social .social-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social .social-icon:hover {
  color: #ff5722;
}

.footer-disclaimer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.pesan {
  font-size: 20px;
  color: #C63D2F;
  padding: 10px;
}

.bellybites-btn,
.nav-list a,
.menu-button, 
.headline__button, 
.form-control,  
.button-click, 
.social-icon,
b
{
  min-width: 44px;
  min-height: 44px;
  padding: 15px;
}

.nav-list li,
.list-menu .card-menu {
  margin-bottom: 10px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
  min-width: 44px;
  min-height: 44px;
}

.skip-link:focus {
  top: 0;
}
button {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

@media only screen and (max-width: 440px) {
  nav {
    height: 100px;
    min-height: 44px;
    min-width: 44px;
  }

  .logo-txt {
    display: none;
  }

  .nav-list {
    top: 60px;
    right: 40px;
  }
  
  .nav-list li {
    margin: 30px 0;
  }
  
  .bellybites-btn {
    font-size: 24px;
  }
  .hero {
    min-height: 300px;
  }
  .hero__title {
    font-size: 20px;
  }

  .hero__tagline {
    font-size: 12px; 
  }

  .content__header {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  main {
    padding: 0;
  }
  .card {
    margin: 0;
    padding: 0;
  }
  .content {
    margin: 0;
    padding: 0;;
  }
  .hero {
    background-size: 100% auto;
  }
  .explore{
    grid-template-columns: 1fr;
  }
  .headline {
    width: 100%;
  }

  .input-group {
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 5px;
    align-items: center;
  }

  .form-control {
    padding: 5px;
    font-size: 14px;
    width: 80%;
  }

  .button-click {
    padding: 5px 10px;
    font-size: 14px;
    width: 80px;
  }

  .list-restoran {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .restaurant-details {
    font-size: 10px;
    padding: 3px;
  }
  .list-menu {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .card-menu {
    width: 50%;
  }
  .footer {
    padding: 20px;
  }
  .search-header-container {
    flex-direction: column;
    gap: 20px;
}
}

@media (max-width: 768px) {
  .content__header {
    flex-direction: column;
  }
  .restaurant-detail {
    grid-template-columns: 1fr;
  }

  .restaurant-categories ul {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .restaurant-menu-container {
    grid-template-columns: 1fr;
  }

  .review-header-item {
    grid-template-columns: 1fr;
  }

  .restaurant-menu-foods,
  .restaurant-menu-drinks {
    grid-template-columns: 1fr;
  }

  .header-review {
    flex-direction: column;
  }

  .review-form-item {
    grid-template-columns: 1fr;
  }

}



@media only screen and (min-width: 900px) {
  nav {
    height: 100px;
    min-height: 44px;
    min-width: 44px;
    background-color: #FF9B50;
    grid-template-columns: auto 1fr 1fr;
    padding-bottom: 10px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
    grid-column: 1 / 3;
    padding-bottom: 20px;
  }

  .bellybites-btn {
    display: none;
  }

  .nav-list {
    position: relative;
    height: 100px;
    min-height: 44px;
    min-width: 44px;
    top: 0;
    background: none;
    margin-top: 25px;
    transition: none;
    grid-column: auto;
  }

  .nav-list li {
    display: inline-block;
    opacity: 1;
    line-height: 100px;
    min-width: 44px;
    min-height: 44px;
    line-height: 44px;
    margin: 0 20px;
    transition: none;
  }


  .nav-list li a.active,
  .nav-list li a:hover {
    color: #FFf;
  }

}

@media only screen and (min-width: 1200px) {
  .hero {
    background-size: 100% auto;
  }
}

@media only screen and (max-width: 1200px) {
  .hero {
    background-size: 100% auto;
  }
}
